body {
    font-family: "Montserrat", "Avenir";
    background: #232323;
    margin: 0;
}

#container {
    max-width: 600px;

    margin: 20px auto;
}

h1 {
    text-align: center;
    line-height: 1.1;
    font-weight: normal;
    text-transform: uppercase;

    color: white;
    background-color: steelblue;

    padding: 20px 0;
    margin: 0;
}

#colorDisplay {
    font-size: 200%;
}

#message {
    display: inline-block;
    width: 20%;
}

.square {
    background: purple;

    width: 30%;
    margin: 1.66%;
    padding-bottom: 30%;

    float: left;

    border-radius: 15%;

    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
}

#stripe {
    text-align: center;

    background-color: white;
    color: black;

    height: 30px;
}

.selected, button:hover {
    color: white;
    background-color: steelblue;
}

button {
    background: none;

    color: steelblue;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: inherit;

    height: 100%;
    border: none;
    outline: none;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
